<!DOCTYPE html>
<html>
    <head>
            <link href="css/bootstrap.css" rel="stylesheet" />           
             <link href="css/bootstrap-theme.css" rel="stylesheet" />
            <script src="js/bootstrap.min.js"></script>
            <link href="css/css.css" rel="stylesheet" />
            <link href="css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
        <h3 class="w3-bar-item">Option avancer</h3>
        <a class="nav-link" href="/ajouterProduit">Ajouter un produit <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/UserAdmins">Liste des admins </a>
        <a class="nav-link" href="/UserClients">Liste des clients </a>

          
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container"> 
                  <a class="navbar-brand" href="/admin">ADMIN</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/ajouterProduit">Ajouter un produit <span class="sr-only">(current)</span></a>
                      </li>
                   
                      <li class="nav-item">
                        <a class="nav-link" href="/admin/Demande">Commande  </a>
                      </li>
                    </ul>
                    <%if (currentUser) { %>
                      <span class="navbar-text">
  
                    <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                      </span>
                      <% } %>
                  </div>
          
                </nav>
          
    
          
          <div class="w3-container">
              <h1 style="text-align: center">Liste des produits</h1>
             

<!-- The Modal -->

          </div>
<table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Paramtre</th>
            <th scope="col">Produit</th>
            <th scope="col">Categorie</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantite</th>
          </tr>
        </thead>
        <tbody>
            <% produits.forEach(function(produit) { %>
          <tr>
           
            <td><a href="/DeleteProduit/<%= produit._id %>" class="btn btn-danger">D</a>
            
              <button onclick="document.getElementById('<%= produit._id %>').style.display='block'"
              class="w3-button">M</button>
            </td>
            <div id="<%= produit._id %>" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <span onclick="document.getElementById('<%= produit._id %>').style.display='none'" 
                  class="w3-button w3-display-topright">&times;</span>



                  <form  action="modiferProduit/<%= produit._id %>" method="post">
                    <div class="form-group">
                      <label for="LeNomDeProduit">Le nom de Produit</label>
                      <input type="text" class="form-control" name="produitname" value=" <%= produit.Produit%>" id="LeNomDeProduit"  placeholder="le nom de produit">
                  
                    </div> 
                    <div class="row">
                        <div class="col">
                    <div class="form-group">
                        <label for="Categorie">Categorie: </label>
                        <select class="form-control" id="Categorie" name="categorie">
                          <% produits.forEach(function(categorie) { %>
                            <option value="<%= categorie.categorie._id %>"><%= categorie.categorie.Categorie %></option>
                             
                          <% }) %>
                        </select>
                      </div>
                      </div>
                      <div class="col">
            
                      <div class="form-group">
                        <label for="categorie"> Ou </label>
                        <input type="text" class="form-control" name="NewCategorie" value="null" id="categorie"   placeholder="ajouter une categorie s il n existe pas sur la liste">
                  
                      </div>
                    </div>
                </div>
              
                  
                
                  
            
                    <div class="form-group">
                        <label for="Prix">Prix: </label>
                        <input type="number" name="prix" class="form-control" id="Prix" value="<%= produit.Prix %>"  placeholder="prix">
                    
                      </div>
                      <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control"  name="description" id="Description" rows="3"> <%= produit.Description %></textarea>
                 
                    
                      </div>
                      <div class="form-group">
                        <label for="Quantite">Quantite</label>
                        <input type="number" class="form-control" name="quantite"  value="<%= produit.Quantite%>" placeholder="Quantite">
                    
                      </div>
                    
                    <button type="submit" class="btn btn-primary">modifier le produit</button>
                  </form>
                </div>
              </div>
            </div>


            <td><a href="/produitDetail/<%= produit._id%>">  <%= produit.Produit%> <br><img src="uploads/<%= produit.image.Imageone%>" width="50" height="50"> </a></td>
            <td><%= produit.categorie.Categorie%></td>
            <td><%= produit.Prix + "  DA"%></td>
            <% if ( produit.Quantite > 0 ) { %>
            <td style="color: green"><%= produit.Quantite%></td>
            <%}else { %>
                <td style="color: red">FINI</td>
                <% } %>
          </tr>
         <% }) %>
        </tbody>
      </table>
      </div>
      </div>
      </body>
      </html>