<!DOCTYPE html>
<html>
    <head>
            <link href="css/bootstrap.css" rel="stylesheet" />           
             <link href="css/bootstrap-theme.css" rel="stylesheet" />
            <script src="js/bootstrap.min.js"></script>
            <link href="css/css.css" rel="stylesheet" />
            <link href="css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
            <h3 class="w3-bar-item">Option avancer</h3>
            <a class="nav-link" href="/ajouterProduit">Ajouter un produit <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/UserAdmins">Liste des admins </a>
            <a class="nav-link" href="/UserClients">Liste des clients </a>

          
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container"> 
                  <a class="navbar-brand" href="/admin">Dashboard</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Ajouter un produit <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Statistique </a>
                      </li>
                      <li class="nav-item">
                        
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                    </ul>
                    <%if (currentUser) { %>
                      <span class="navbar-text">
  
                    <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                      </span>
                      <% } %>
                  </div>
          
                </nav>
          
    
          
          <div class="w3-container">
              <h1 style="text-align: center">Liste des Clients</h1>
          </div>
          <div class="container">
            <% errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert">
              <%= error %>
              </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
              <div class="alert alert-info" role="alert">
              <%= info %>
              </div>
              <% }) %>
          </div>
<table class="table table-light">
        <thead>
          <tr>
            <th scope="col">le nom</th>
            <th scope="col">le prenom</th>
            <th scope="col">email</th>
            <th scope="col">sexe</th>
            <th scope="col">adress</th>
            <th scope="col">etat</th>
            <th scope="col">edite</th>
          </tr>
        </thead>
        <tbody>
            <% client.forEach(function(client) { %>
          <tr>
           
           <td> <%= client.Firstname %> <br></td>
            <td><%= client.Lastname %></td>
            <td><%= client.email %></td>
            <td><%= client.Sexe %></td>
            <td><%= client.Address %></td>
            <% if (client.client.IsActif) { %>
            <td> <button onclick="window.location.href='/ClientActif/<%= client.client._id %>'"class="btn btn-success"> OUI </button></td>
            <% } else {%>
                <td> <button onclick="window.location.href='/ClientActif/<%= client.client._id %>'"  class="btn btn-danger"> NON </button></td>
        <% } %>
            <td><a href="/DeleteClient/<%= client._id %>" class="btn btn-danger">D</a><button onclick="document.getElementById('<%= client._id %>').style.display='block'" class="w3-button w3-black">Modifier</button>

                <div id="<%= client._id %>" class="w3-modal">
                  <div class="w3-modal-content">
                    <div class="w3-container">
                      <span onclick="document.getElementById('<%= client._id %>').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                     <div style="padding: 100px"> 
                        <form action="/signup" method="post">
 

                            <div class="input-container">
                                <label>Le prenom:</label>
                                  <input class="form-control"  type="text"  value="<%= client.Firstname %>" name="Firstname" required>
                                  <label>Le nom</label>
                                  <input class="form-control" type="text" value="<%= client.Lastname %>" name="Lastname" required> 
                          
                              </div>
                            <div class="input-container">
                                <label>Email:</label>
                                  <input class="form-control"  type="text" value="<%= client.email %>" name="username" required>
                              
                               </div>
                             
                                   <div class="input-container">
                                      <label>Sexe:</label>
                                          <select class="form-control"   name="Sexe" value="<%= client.Sexe %>" required>
                                            <option >Homme</option>
                                            <option >Femme</option>
                                          
                                          </select>
                                        
                                        </div>   
                          
                                       
                          
                               
                          
                             
                            
                            
                          
                          
                               <div class="input-container">
                                  <label>Adress:</label>
                                    <input class="form-control"  type="text" value="<%= client.Address %>" name="Address">
                                   
                               </div>               
                          
                          
                          
                          
                          
                          
                            
                          
                              <button type="submit" class="btn btn-success">Update</button>
                           
                            
                          
                          </form>

                      
                    </div>
                    </div>
                  </div>
                </div></td>
         
          </tr>
         <% }) %>
        </tbody>
      </table>
      </div>
      </div>
      </body>
      </html>