<!DOCTYPE html>
<html>
    <head>
            <link href="/css/bootstrap.css" rel="stylesheet" />           
             <link href="/css/bootstrap-theme.css" rel="stylesheet" />
            <script src="/js/bootstrap.min.js"></script>
            <link href="/css/css.css" rel="stylesheet" />
            <link href="/css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
            <h3 class="w3-bar-item">liens Rapide</h3>
            <a class="nav-link" href="/Compte/profile">Mon Compte<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/List/achats">Ma liste D achat </a>
        
           
          
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container"> 
                  <a class="navbar-brand" href="/Compte">Bonjour ... <%= currentUser.Firstname + " " + currentUser.Lastname  %></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/Compte/profile">My Compte <span class="sr-only">(current)</span></a>
                      </li>
                     
                    </ul>
                    <%if (currentUser) { %>
                      <span class="navbar-text">
  
                    <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                      </span>
                      <% } %>
                  </div>
          
                </nav>
          
    
          
          <div class="w3-container">
              <h1 style="text-align: center">Ma liste D achat</h1>
          </div>
          <div class="container">
            <% errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert">
              <%= error %>
              </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
              <div class="alert alert-info" role="alert">
              <%= info %>
              </div>
              <% }) %>
          </div>
          <div class="container"> 
              <div class="card">
       <div class="row">
         
           <% List.forEach(function(list) { %>
            <% if (list.Paye === false ) {%>
           <div class="col-md-12">
                <div class="card" style="margin: 10px">
                        <div class="card-body">
                          <div class="row"> 
                         <div class="col-md-2">
                         <img src="/uploads/<%= list.produit.image.Imageone %>" width="100px" />
                         </div>
                         <div class="col-md-10">
                            <div style="float:right">
                                <button onclick="document.getElementById('submit<%= list._id%>').style.display='block'" class="btn btn-worng">Deamnder</button>

                                <div id="submit<%= list._id%>" class="w3-modal">
                                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                              
                                    <div class="w3-center"><br>
                                      <span onclick="document.getElementById('submit<%= list._id%>').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                    
                                    </div>
                              
                                   <div  style="padding: 50px" >
                                      <div class="alert alert-danger" role="alert">
                                         Une fois que vous avez commender ce produit vous etes obliger de payer apres avoir recu le produit..
                                         <h4 > voulez vous vraiment commender ce produit!!!!!</h4>
                                        </div>
                                     
                                     <img src="/uploads/<%= list.produit.image.Imageone %>" style="float: right" width="100px"/>
                                     <h5><%= list.produit.Produit%></h5> 
                                     
                                     <p> Description: <%= list.produit.Description%></p>
                                     <p> Quantite: <%= list.Quantite %> </p>
                                     <p>PRIX: <%= list.produit.Prix %> DA / 1 </p>
                                     <hr>
                           <p style="text-align: right; color: green">TOTAL: <%= list.produit.Prix *  list.Quantite %> DA</p>
                                     <div  style="align-content: right">
                                     <a href="/submitperone/<%= list._id%>" class="btn btn-primary form-control">Demander</a >
                                    </div>
                                  </div>
                                   
                              
                                  </div>
                                </div>
                               <button onclick="document.getElementById('<%= list._id%>').style.display='block'" class="btn btn-worng">Modier</button>

                               <div id="<%= list._id%>" class="w3-modal">
                                 <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                             
                                   <div class="w3-center"><br>
                                     <span onclick="document.getElementById('<%= list._id%>').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                   
                                   </div>
                             
                                  <div  style="padding: 50px" >
                                    <form action="/update/achat/<%= list._id%>" method="post"> 
                                      <img src="/uploads/<%= list.produit.image.Imageone %>" style="float: right" width="100px"/>
                                      <h5><%= list.produit.Produit%></h5> 
                                     
                                      <p> Description: <%= list.produit.Description%></p>
                                      <p> Quantite: <input type="number" value="<%= list.Quantite %>" name="Quantite"/></p>
                                      <p>PRIX: <%= list.produit.Prix %> DA / 1 </p>
                                      <hr>
                                      <div  style="align-content: right">
                                      <button class="btn btn-primary form-control">Modier</button>
                                      </div>
                                    </form>
                                  </div>
                                  
                             
                                 </div>
                               </div><button class="btn btn-danger">Supprimer</button>
                              </div>
                           <h5><%= list.produit.Produit%></h5> 
                           <p> Description: <%= list.produit.Description%></p>
                           <p> Quantite: <%= list.Quantite %></p>
                           <p>PRIX: <%= list.produit.Prix %> DA </p>
                           <hr>
                           <p style="text-align: right; color: green">TOTAL: <%= list.produit.Prix *  list.Quantite %> DA</p>
                         </div>
                        </div>
                      </div>
                      </div>
           </div>
           <br>
           <hr>
           <% } %>
           <% }) %>
           <button class="btn btn-success  ml-auto" style="margin: 20px">Achter</button>
       </div>
           <hr>
<h3 style="text-align: center"> Ancien liste</h3>
<% List.forEach(function(list) { %>
  <% if (list.Paye === true ) {%>
 <div class="col-md-12">
      <div class="card" style="margin: 10px">
              <div class="card-body">
                <div class="row"> 
               <div class="col-md-2">
               <img src="/uploads/<%= list.produit.image.Imageone %>" width="100px" />
               </div>
               <div class="col-md-10">
                 <h5><%= list.produit.Produit%></h5>
                
                 <p> Description: <%= list.produit.Description%></p>
                 <p> Quantite: <%= list.produit.Quantite %></p>
                 <p>PRIX: <%= list.produit.Prix %> DA </p>
                 <hr>
                 <p style="text-align: right; color: green">TOTAL: <%= list.produit.Prix *  list.produit.Quantite %> DA</p>
               </div>
              </div>
            </div>
            </div>
 </div>
 <br>
 <hr>
 <% } %>
 <% }) %>
          </div> </div>
        </div>
      </div>
      </div>
      </body>
      </html>