<!DOCTYPE html>
<html>
    <head>
            <link href="css/bootstrap.css" rel="stylesheet" />           
             <link href="css/bootstrap-theme.css" rel="stylesheet" />
            <script src="js/bootstrap.min.js"></script>
            <link href="css/css.css" rel="stylesheet" />
            <link href="css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body >
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px ;font-size: 10px ">
            <h3 class="w3-bar-item">liens Rapide</h3>
            <a class="nav-link" href="/" style="font-size: 15px ">Mon Compte<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/"  style="font-size: 15px "> Ma liste D achat </a>
        
           
          
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container"> 
                  <a class="navbar-brand" href="/">Bonjour ... <%= currentUser.Firstname + " " + currentUser.Lastname  %></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                       
                      <li class="nav-item active">
                        <a class="nav-link" href="/"  style="font-size: 15px ">mon Compte <span class="sr-only">(current)</span></a>
                      </li>
                     
                    </ul>
                    <%if (currentUser) { %>
                      <span class="navbar-text">
  
                    <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                      </span>
                      <% } %>
                  </div>
          
                </nav>
          
    
          
          
          <div class="container">
            <% errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert">
              <%= error %>
              </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
              <div class="alert alert-info" role="alert">
              <%= info %>
              </div>
              <% }) %>
          </div>
          <div class="w3-container">
            <h1 style="text-align: center">Mon Compte NON ACTIVER </h1>
        
            <div class="alert alert-danger" style="text-align:center">votre compte sera activer apres nla varefication de vos information et votre compte sera activer </div class="">
          <h2 style="text-align:center">Mes informations</h2>

          <div class="card">
            <img src="/user.png" alt="John" style="width:100%">
            <h1><%= currentUser.Firstname + " "  + currentUser.Lastname %></h1>
            <p class="title">Email :<%= currentUser.email %></p>
            <p>Phone :<%= currentUser.Phone %></p>
            <p>Sexe :<%= currentUser.Sexe %></p>
            <p>Address :<%= currentUser.Address %></p>
      
            
           
          </div></div>
      </div>
      </div>
      </body>
      </html>