<!DOCTYPE html>
<html>
    <head>
            <link href="css/bootstrap.css" rel="stylesheet" />           
             <link href="css/bootstrap-theme.css" rel="stylesheet" />
            <script src="js/bootstrap.min.js"></script>
            <link href="css/css.css" rel="stylesheet" />
            <link href="css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

            <link href="css/font.css" rel="stylesheet">
            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
            <h3 class="w3-bar-item">Option avancer</h3>
            
            <div class="form-group" >
                    <label for="categorie">Recherche par categorie</label>
                    <select class="form-control" id="categorie">
                      <option value="null">-- Choisez la categorie--</option>
                      <% categorie.forEach(function(categorie) { %>
                      <option value="<%= categorie._id %>"><%= categorie.Categorie %></option>
                      <%}  ) %>
                    </select>
                  
                
                </div>
                  <label for="exampleFormControlSelect1">Recherche par une Somme</label>
                  <div class="row">
                      
                        <div class="col">
                          <input type="number" id="min"class="form-control" value="0" placeholder="100DA">
                        </div>
                        <div class="col">
                          <input type="number"  id="max"class="form-control" value="100000000" placeholder="1000000DA">
                        </div>
                      </div>
                      <hr>
                 
                      <button type="submit"  id="search" class="btn btn-primary">recherche</button>
                
                      
                      
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
          
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container"> 
                            <a class="navbar-brand" href="#" style="font-family: 'Dancing Script', cursive;font-size: 30px">Shopping</a>


                           
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav mr-auto">
                                  <%if (currentUser) { %>
                                <% if (currentUser.user === 'Client') { %>
                                <li class="nav-item active">
                                  <a class="nav-link" href="/Compte">Mon Compte <span class="sr-only">(current)</span></a>
                                </li>
                                <% } %>   <% } %>
                                <% if (currentUser) {  %>
                                  <% if (currentUser.user === "Admin") {  %>
                                    <li class="nav-item active">
                                      <a class="nav-link" href="/admin">ADMIN <span class="sr-only">(current)</span></a>
                                    </li>  
                                    <% } else { %>
                             
                                <% } %>
                                <% } %>
                              </ul>
                              <%if (currentUser) { %>
                                <span class="navbar-text">
                                  <% if (currentUser) {  %>
                                    <% if (currentUser.user === "Admin") {  %>
                                       
                                      <% } else { %>
                                        <div class="dropdown">
                                          <img src="card.png" style="  width:  30px;border-radius: 100%;" />
                                          <% var count = 0 %>
                                          <% panier.forEach(function(list) { %>
                                           <% count = count + 1 %>
                                            <% }) %>
                                            <span class="badge"style="margin-right: 20px;background-color: red;color: #fff">
                                             <% if (count < 3 ) {%>
    
                                              <%=  count %>
                                             <% } else  { %>
                                              <%=  count + " +" %>
                                              <% }%>
                                            </span>
                                          <div class="dropdown-content">
                                            <% panier.forEach(function(list) { %>
                                          <a href="#"><h4> <img src="/uploads/<%= list.produit.image.Imageone %>"  width="30px"/> <%= list.produit.Produit %> <span style="float: right"><%= list.produit.Prix %> DA </span></h4></a>
                                          <% }) %>
                                          <a href="/List/achats">Afficher La liste</a>
                                          </div>
                                        </div>
                                  <% } %>
                                  <% } %>
                                 
                              <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                                </span>
                                <% } else {  %>
                              <span class="navbar-text">
                                    <a href="#" class="notification" style="padding-right: 20px">
                                            <img src="card.png" style="  width:  30px;border-radius: 100%;" />
                                           
                                          </a>
                                           
                                 
                                    <button type="button" class="btn btn-success" onclick="window.location.href='/register'">Register</button>
                            <button type="button" class="btn btn-outline-success"  onclick="window.location.href='/login'">Se Connecter</button>
                              </span>
                              <% } %>
                            </div>
                    
                          </nav>
          
    
          
          <div class="w3-container">
                <div class="container">
                  <p style="font-family: 'Dancing Script', cursive;font-size: 80px;text-align: center">Shopping</p>
                  <div id="searchfind">
                             
                    </div>
                        <div class="row">
                           
                            <% produit.forEach(function(produit)  {  %>
                              <%if (produit.Quantite > 0) {%>
                             
                            <div class="col-md-4" style="padding-top: 100px" > 
                                <div class="card" style="width: 15rem;">
                                        <h5 class="card-title" style="text-align: center"><%= produit.Produit%></h5>
                                        <img class="card-img-top" src="uploads/<%= produit.image.Imageone %>" alt="Card image cap">
                                        <div class="card-body">
                                          <h1 > <%= produit.Prix + " " %>DA</h1>
                                          <p class="card-text"><%= produit.Description%></p>
                                          <a href="/produitDetail/<%= produit._id %>" class="btn btn-primary"> Details</a>
                                        </div>
                                      </div>
                                    </div>
            
                                    <%  }%>
                                <% })%>    
            
                        </div>
                    </div>
          </div>
          
          </div>
           
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
          <script>
            $(function() {
                $("#search").on("click", function () {
                  var categorie = ( $("#categorie").val());
                  var Min = $('#min').val();
                  var Max = $('#max').val();
                  $.ajax({
                    type: 'post',
                    url: '/search',
                    dataType: "text",  
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                      Categorie: categorie,
                      Max: Max,
                      Min: Min
                    }),
                           
                      cache: false,
                        timeout: 5000,
                        complete: function() {
                         
                          console.log('process exam complete');
                          console.log(data)
                        },
                        success: function(res) {
                        
                          var resu = JSON.parse(res)
                          console.log(resu)
                 var html = '<h2 style="text-align: center">resultat'+ '(  ' + (resu.length )+ ' ) </h2>';
                 
              for (var i = 0; i< resu.length; i++) {
          
         
                html += ' <div class="col-md-4" style="padding-top: 100px" > ';
                html += '<div class="card" style="width: 15rem;">';
                html += ' <div class="card" style="width: 15rem;">';
                html += '<h5 class="card-title" style="text-align: center"> ' + resu[i].Produit  + '</h5>';
                html += '<img class="card-img-top" src="uploads/'+ resu[i].image.Imageone  +'" alt="Card image cap">';
                html += '<div class="card-body">';
                html += '<h1 >'  + resu[i].Prix   +'DA</h1>';
                html += '<p class="card-text">' + resu[i].Description + '</p>';
              html += '<a href="/produitDetail/' + resu[i]._id  + '" class="btn btn-primary"> Details</a>';
               html += '</div>';
              html += '</div>';
              html += '</div>';
             }
                
                 
           
                                     
    
                 
                 $('#searchfind').html(html);
               },
                        error: function() {
                         
                          console.log('process error');
                        },
                  
                  });
                });
              });
             
        </script>
                     
</body>

</html>