<!DOCTYPE html>
<html>
    <head>
            <link href="/css/bootstrap.css" rel="stylesheet" />           
             <link href="/css/bootstrap-theme.css" rel="stylesheet" />
            <script src="/js/bootstrap.min.js"></script>
            <link href="/css/css.css" rel="stylesheet" />
            <link href="/css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}

#pqn:hover {
  background-color: green
}

.notification .badge {
  position: absolute;
 
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
            <h3 class="w3-bar-item" style="text-align: center">Detail</h3>
            
            <h2 class="card-title" style="text-align: center"><%= produit.Produit%></h2>
            <img class="card-img-top" src="/uploads/<%= produit.image.Imageone %>" alt="Card image cap">
            <div class="card-body">
                <div id="app">
              <h1 v-model="PRIX"> <%= produit.Prix + " " %>DA</h1>
          
              <p class="card-text"><%= produit.Description%></p>
              <hr>
              

             <% if (currentUser) {  %>
              <% if (currentUser.user === "Admin") {  %>
                <% } else { %>
                  <%if (produit.Quantite > 0) {%>
              <form >
                 
                  <tr>
                  
                      <td>Quantite</td>
                      <td><input class=" form-group txt" id="produitValue" type="number" name="txt"/></td>
                    </tr>
                    <tr id="summation">
                     
                     
                    <h4> TOTAL :  <span id="sum">0</span> DA </h4> 
                    </tr>
                     
                      
                    </div>
                  
              
                      <div id="Suc">  </div>
                     
                <botton class="btn btn-success" id="Ajouter">+ ajouter au panier</botton>
              </form>
              <% }  else  {%>
                <div class="alert alert-danger" role="alert">
              
                  <p style=" font-size: 12px">   Ce produit est fini  </p>
                   </div>
                <%   }%>
              <% } %>
             
             <% }  else  {%>
              <div class="alert alert-warning" role="alert">
              
           <p style=" font-size: 12px">   Pour commender Ce Prduit vous devez se connecter ou sign up </p>
            </div>
              <button type="button" class="btn btn-success" onclick="window.location.href='/register'">S'enregistrer</button>
                <button type="button" class="btn btn-outline-success"  onclick="window.location.href='/login'">Se Connecter</button>
                 <% } %>           
            </div>
                
          </div>          
                      
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container"> 
                            <a class="navbar-brand" href="#">Shopping</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="/">Nos produit <span class="sr-only">(current)</span></a>
                                </li>
                                <% if (currentUser) {  %>
                                  <% if (currentUser.user === "Admin") {  %>
                                    <li class="nav-item active">
                                      <a class="nav-link" href="/admin">ADMIN <span class="sr-only">(current)</span></a>
                                    </li>  
                                    <% } else { %>
                                      <li class="nav-item active">
                                        <a class="nav-link" href="/Compte">mon compte <span class="sr-only">(current)</span></a>
                                      </li> 
                                <% } %>
                                <% } %>     
                              </ul>
                              <%if (currentUser) { %>
                                <span class="navbar-text">
                                  <% if (currentUser) {  %>
                                    <% if (currentUser.user === "Admin") {  %>
                                       
                                      <% } else { %>
                                        <div class="dropdown">
                                          <img src="/card.png" style="  width:  30px;border-radius: 100%;" />
                                          <% var count = 0 %>
                                          <% panier.forEach(function(list) { %>
                                           <% count = count + 1 %>
                                            <% }) %>
                                            <span class="badge"style="margin-right: 20px;background-color: red;color: #fff">
                                             <% if (count < 3 ) {%>
    
                                              <%=  count %>
                                             <% } else  { %>
                                              <%=  count + " +" %>
                                              <% }%>
                                            </span>
                                          <div class="dropdown-content">
                                            <% panier.forEach(function(list) { %>
                                          <a href="#"><h4> <img src="/uploads/<%= list.produit.image.Imageone %>"  width="30px"/> <%= list.produit.Produit %> <span style="float: right"><%= list.produit.Prix %> DA </span></h4></a>
                                          <% }) %>
                                             <div id="Suc2"></div>
                                          <a href="/List/achats">Afficher La liste</a>
                                          </div>
                                        </div>
                                  <% } %>
                                  <% } %>
                                
                             
                                <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                              </span>
                                           
                                          <% } else { %>
                                          </span>
                                            <a href="#" class="notification" style="padding-right: 20px">
                                              <img src="/card.png" style="  width:  30px;border-radius: 100%;" />
                                         
                                            </a>
                                    <button type="button" class="btn btn-success" onclick="window.location.href='/register'">S'enregistrer</button>
                            <button type="button" class="btn btn-outline-success"  onclick="window.location.href='/login'">Se Connecter</button>
                          <% } %>   
                          </span>
                            </div>
                    
                          </nav>
          
    
          
          <div class="w3-container">
                <div class="row">
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imageone %>" alt="Nature" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagetwo %>" alt="Snow" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagethee %>" alt="Mountains" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagefour %>" alt="Lights" style="width:50%" onclick="myFunction(this);">
                        </div>
                      </div>
                      
                      <div class="container">
                        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                        <img id="expandedImg" style="width:100%">
                        <div id="imgtext"></div>
                      </div>
                      
                      <script>
                      function myFunction(imgs) {
                        var expandImg = document.getElementById("expandedImg");
                        var imgText = document.getElementById("imgtext");
                        expandImg.src = imgs.src;
                        imgText.innerHTML = imgs.alt;
                        expandImg.parentElement.style.display = "block";
                      }
                      </script>
              
          </div>
          
          </div>

<script>
    $(document).ready(function(){
  
      //iterate through each textboxes and add keyup
      //handler to trigger sum event
      $(".txt").each(function() {
  
        $(this).keyup(function(){
          calculateSum();
        });
      });
  
    });
  
    function calculateSum() {
  
      var sum = 0;
      //iterate through each textboxes and add the values
      $(".txt").each(function() {
  
        //add only if the value is number
        if(!isNaN(this.value) && this.value.length!=0) {
          sum += parseFloat(this.value);
        }
  
      });
      //.toFixed() method will roundoff the final sum to 2 decimal places
      sum = sum * <%= produit.Prix %>
      $("#sum").html(sum.toFixed(2));
    }
  </script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
          <script src="/vue/vue.js"></script>





<script>
  $(function() {
      $("#Ajouter").on("click", function () {
        console.log( $("#produitValue").val());
        var ProduitValue = $('#produitValue').val();
        var _id = $('#-id').val();
        $.ajax({
          type: 'post',
          url: '/AddToList',
          dataType: "text",  
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            Quantite: ProduitValue,
            _id: "<%= produit._id %>"
          }), 
              cache: false,
              timeout: 5000,
              complete: function() {
               
                console.log('process exam complete');
                console.log(data.ProduitValue)
              },
              success: function(res) {
               console.log(res)
       var html;
       var html2;
      
       html = '<div class="alert alert-success" role="alert">c est ajouter au panier!</div>'
       html2 = '<div class="alert alert-success" role="alert"><a href="#" ><h4> <img src="/uploads/<%= produit.image.Imageone %>"  width="30px"/> <%= produit.Produit %> <span style="float: right"><%= produit.Prix %> DA </span></h4></a></div>'
       
    
       
       $('#Suc').html(html);
       $('#Suc2').html(html2);
     },
              error: function() {
               
                console.log('process error');
              },
        
        });
      });
    });
   
</script>
</body>
</html>