<!DOCTYPE html>
<html>
    <head>
            <link href="/css/bootstrap.css" rel="stylesheet" />           
             <link href="/css/bootstrap-theme.css" rel="stylesheet" />
            <script src="/js/bootstrap.min.js"></script>
            <link href="/css/css.css" rel="stylesheet" />
            <link href="/css/icon.css" rel="stylesheet"  />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


            <link rel="stylesheet" href="http://localhost:3000/css/icon.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <style>
    * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.notification {

  color: white;
  text-decoration: none;

  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
 
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
 
  background-color: red;
  color: white;
}
</style>
<body>
       

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px  ">
            <h3 class="w3-bar-item" style="text-align: center">Detail</h3>
            
            <h2 class="card-title" style="text-align: center"><%= produit.Produit%></h2>
            <img class="card-img-top" src="/uploads/<%= produit.image.Imageone %>" alt="Card image cap">
            <div class="card-body">
              <h1 > <%= produit.Prix + " " %>DA</h1>
              <p class="card-text"><%= produit.Description%></p>
              <hr>


             <% if (currentUser) {  %>
              <form >
                  <div id="app">
                      <input type="number" v-model="TOTAL">
                      <h4>{{ TOTAL }}</h4>
                      
                    </div>
                <botton class="btn btn-success">+ ajouter au panier</botton>
              </form>
             
             <% }  else  {%>
              <div class="alert alert-warning" role="alert">
              
           <p style=" font-size: 12px">   Pour commender Ce Prduit vous devez se connecter ou sign up </p>
            </div>
              <button type="button" class="btn btn-success" onclick="window.location.href='/register'">Register</button>
                <button type="button" class="btn btn-outline-success"  onclick="window.location.href='/login'">Se Connecter</button>
                 <% } %>           
            </div>
                
                      
                      
          </div>
          
          
          <!-- Page Content -->
          <div style="margin-left:25%">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container"> 
                            <a class="navbar-brand" href="#">Shopping</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="#">Nos produit <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Contact nous</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Pricing</a>
                                </li>
                              </ul>
                              <span class="navbar-text">
                              <% if (currentUser) {  %>

                                <a href="#" class="notification" style="padding-right: 20px">
                                  <img src="/card.png" style="  width:  30px;border-radius: 100%;" />
                                  <span class="badge"style="margin-right: 20px">0</span>
                                </a>
                          
                             
                                <button type="button" class="btn btn-outline-danger"  onclick="window.location.href='/logout'">Se Deconnecter</button>
                              </span>
                                           
                                          <% } else { %>
                                            <a href="#" class="notification" style="padding-right: 20px">
                                              <img src="/card.png" style="  width:  30px;border-radius: 100%;" />
                                         
                                            </a>
                                    <button type="button" class="btn btn-success" onclick="window.location.href='/register'">Register</button>
                            <button type="button" class="btn btn-outline-success"  onclick="window.location.href='/login'">Se Connecter</button>
                          <% } %>   
                          </span>
                            </div>
                    
                          </nav>
          
    
          
          <div class="w3-container">
                <div class="row">
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imageone %>" alt="Nature" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagetwo %>" alt="Snow" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagethee %>" alt="Mountains" style="width:50%" onclick="myFunction(this);">
                        </div>
                        <div class="column">
                          <img  src="/uploads/<%= produit.image.Imagefour %>" alt="Lights" style="width:50%" onclick="myFunction(this);">
                        </div>
                      </div>
                      
                      <div class="container">
                        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                        <img id="expandedImg" style="width:100%">
                        <div id="imgtext"></div>
                      </div>
                      
                      <script>
                      function myFunction(imgs) {
                        var expandImg = document.getElementById("expandedImg");
                        var imgText = document.getElementById("imgtext");
                        expandImg.src = imgs.src;
                        imgText.innerHTML = imgs.alt;
                        expandImg.parentElement.style.display = "block";
                      }
                      </script>
              
          </div>
          
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
          <script src="/vue/vue.js"></script>
</body>
</html>